<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Your Email</title>
    </head>
    <body>
        <h2>
            Hello {{name}},
        </h2>

        <p>
            We're excited to have you get started!
            Please confirm your email address by clicking the link below:
        </p>

        <a href="{{url}}" style="text-align: center; display: inline-block; cursor: pointer;">Confirm Email</a>

        <p>
        If you did not create an account, no further action is required.
        </p>

        <p>
            Thanks,
        </p>

        <p>
            The {{company}} Team
        </p>
    </body>
</html>